body, html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.65;
}

#root {
  display: flex;
  height: 100%;
}

.page {
  background-color: #2C2D2F;
  flex: 1 1 auto;
}

.page-content {
  padding: 2rem;
}
.page-content a {
  text-decoration: none;
  color: white;
}

.svg-inline--fa {
  margin-right: .7rem;
}